<footer class="flex justify-center items-center p-4 bg-gray-900">
  <h2 class="text-slate-300 lg:text-3xl">
    Designed and Created by Myself
    <strong class="lg:text-2xl"> &copy; 2021-23</strong>
  </h2>
</footer>
